# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/
*.jar
*.war
*.ear

# Logs
*.log
logs/

# Spring Boot
spring.log
application.properties

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
build/

# OS-specific
.DS_Store
Thumbs.db

# Others
*.class
target